.menu {
	height: 3em;
	font-size: 1em;
	background-color: var(--mainBG);
	border: 2px solid var(--accent);
	border-bottom-left-radius: 1.5em;
	position: fixed;
	right: 0;
	top: 48px;
	z-index: 2;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding-left: 20px;
	align-content: center;
	align-items: center;
	min-width: 60px;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

.extended {
	max-width: 500px;
}

.cinemaMode {
	top: 0;
}

.magicMirrorMode {
	display: none !important;
}

.extend {
	animation-name: action-menu-extend;
}

.retract {
	animation-name: action-menu-extend;
	animation-direction: reverse;
}

.menuButton {
	font-size: 2em;
	margin-right: 10px;
}

@keyframes action-menu-extend {
	from {
		max-width: 60px;
	}
	to {
		max-width: 500px;
	}
}
