.menu {
	max-width: 60px;
	height: 3em;
	font-size: 1em;
	background-color: var(--mainBG);
	border: 2px solid var(--accent);
	border-bottom-left-radius: 1.5em;
	position: absolute;
	right: 0;
	top: -2px;
	z-index: 2;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding-left: 20px;
	align-content: center;
	align-items: center;
}

.extended {
	max-width: 9999px;
}

.menuButton {
	font-size: 2em;
	margin-right: 10px;
}
