
.utility {
	background-color: var(--windowBG);
	display: flex;
	flex-direction: column;
	height: 200px;
	margin: 15px;
	max-height: 200px;
	max-width: 200px;
	transition: var(--shortAnimation);
	width: 200px;
}

.utility:hover {
	transform: var(--lightLift);
}

.utilityIcon {
	align-items: center;
	display: flex;
	font-size: 5em;
	height: 150px;
	justify-content: center;
	margin: 0;
	min-height: 150px;
}

.utilityName {
	display: flex;
	font-size: 1.25em;
	justify-content: center;
	margin: 0;
}

textarea {
	resize: none;
}
