.settingsContainer {
	display: flex;
	flex-flow: column;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
}

.settings {
	display: flex;
	flex-flow: column;
	flex: 1;

}

.settingsCategory {
	display: flex;
	flex: 1;
	background-color: var(--windowBG);
	margin: 15px;
	flex-direction: column;
}

.settingsCategory i {
	font-size: 2.5em;
	margin-left: 15px;
	margin-bottom: 15px;
}

.settingsCategory .title {
	font-size: 1.15em;
	height: 2em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	padding-left: 15px;
	background-color: var(--secondary);
	margin-bottom: 15px;
}

.settingsCategory .labels {
	margin-left: 15px;
	min-width: 15em;
}

.utility {
	display: flex;
	flex-direction: column;
	width: 200px;
	max-width: 200px;
	height: 200px;
	max-height: 200px;
	background-color: var(--windowBG);
	margin: 15px;
	transition: var(--shortAnimation);
}

.utility:hover {
	transform: var(--lightLift);
}

.utilityIcon {
	display: flex;
	margin: 0;
	font-size: 5em;
	height: 150px;
	min-height: 150px;
	justify-content: center;
	align-items: center;
}

.utilityName {
	display: flex;
	margin: 0;
	font-size: 1.25em;
	justify-content: center;
}

textarea {
	resize: none;
}
