.connectionStatus {
	border-bottom: 200px solid rgba(255, 0, 0, 0.5);
	border-left: 200px solid transparent;
	bottom: 0;
	height: 0;
	position: fixed;
	right: 0;
	width: 0;
	z-index: 100000;
}

.connectionStatus > i {
	position: relative;
	left: -100px;
	top: 100px;
	animation: wiggle 3s infinite;
}

.connected {
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-name: fade;
	border-bottom: 200px solid rgba(0, 255, 0, 0.5);
}

.connected > i {
	animation: beat 5s;
}
