.device {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	position: absolute;
}

.dragging {
	z-index: 100;
}

.deviceState {
	font-size: 1.5em;
	left: 0;
	position: absolute;
	text-shadow: 2px 2px 15px var(--accent);
	top: -1em;
	width: 500px;
}
