.device {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	position: absolute;
}

.dragging {
	z-index: 100;
}

.deviceState {
	font-size: 2em;
	position: absolute;
	right: 0;
	text-shadow: 2px 2px 15px var(--accent);
	top: 0;
}
