.skill {
	background-color: var(--windowBG);
	height: 250px;
	width: 300px;
}
.stretched {
	width: 100%;
	height: 100%;
}
.stretched >>> textarea {
	width: 100%;
	height: 100%;
}
.utility {
	display: flex;
	flex-direction: column;
	width: 200px;
	max-width: 200px;
	height: 200px;
	max-height: 200px;
	background-color: var(--windowBG);
	margin: 15px;
	transition: var(--shortAnimation);
}

.utility:hover {
	transform: var(--lightLift);
}

.utilityIcon {
	display: flex;
	margin: 0;
	font-size: 5em;
	height: 150px;
	min-height: 150px;
	justify-content: center;
	align-items: center;
}

.utilityName {
	display: flex;
	margin: 0;
	font-size: 1.25em;
	justify-content: center;
}

>>> .categoryHead {
	background-color: var(--accent);
	width: 100%;
	text-align: center;
	line-height: 2em;
}

>>> .leftBar{
	display: flex;
	flex-direction: column;
}


.waiting {
	transition: 0s;
	z-index: 998;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(64,64,64,0.75);
	padding-top: 20%;
	padding-bottom: 25%;
}
.waitHidden {
	pointer-events: none;
	transition: 1s;
	z-index: 998;
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 25%;
	background-color: rgba(64,64,64,0.0);
}
