.pageTitle {
	align-items: center;
	display: flex;
	font-size: 1.5em;
	margin-left: 1em;
	text-transform: capitalize;
}

.aliceStatus {
	flex: 1;
}

.updateChannelMarker {
	align-items: center;
	display: flex;
	font-style: italic;
	margin: 0 .9em;
}

.resourceUsage {
	align-items: center;
	display: flex;
	font-size: 0.85em;
	font-weight: 300;
}

.versionInfo {
	align-items: center;
	display: flex;
	font-size: 0.85em;
	margin-left: 15px;
}

.channelInfo {
	align-items: center;
	display: flex;
	font-family: var(--lightItalic);
	font-size: 0.7em;
	justify-items: right;
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
}

.notifications {
	font-size: 1em;
	margin-left: 15px;
	margin-right: 15px;
}

.notificationIcon {
	font-size: 1.5em;
}

.notificationHolder {
	background-color: var(--windowBG);
	border: 1px solid var(--accent);
	box-sizing: border-box;
	max-height: 500px;
	min-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	position: fixed;
	right: 5px;
	top: 52px;
	width: 300px;
	z-index: 999;
}

.notification {
	position: relative;
}

.notificationCounter {
	align-items: center;
	background-color: tomato;
	border-radius: 99px;
	box-sizing: border-box;
	display: flex;
	font-family: var(--bold);
	font-size: 0.85em;
	justify-content: center;
	left: -15px;
	min-height: 20px;
	min-width: 20px;
	padding: 3px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: -15px;
}
