.pageTitle {
	font-size: 1.5em;
	text-transform: capitalize;
	margin-left: 1em;
	align-items: center;
	display: flex;
}

.aliceStatus {
	flex: 1;
}

.updateChannelMarker {
	font-style: italic;
	margin: 0 .9em;
	align-items: center;
	display: flex;
}

.resourceUsage {
	font-size: 0.85em;
	font-weight: 300;
	align-items: center;
	display: flex;
}

.versionInfo {
	font-size: 0.85em;
	align-items: center;
	display: flex;
	margin-left: 15px;
}

.channelInfo {
	font-size: 0.7em;
	align-items: center;
	display: flex;
	margin-left: 15px;
	text-transform: uppercase;
	justify-items: right;
	font-family: var(--lightItalic);
}
