.location {
	align-items: center;
	background-color: var(--windowBG);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	position: absolute;
}

.painting {
	cursor: cell;
}

.locationName {
	max-height: 30%;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px 2px var(--accent);
	width: 50%;
}

.dragging {
	z-index: 100;
}

.droppable {
	border: 5px dashed var(--accent);
}
