.location {
	align-items: center;
	background-color: var(--windowBG);
	box-sizing: border-box;
	cursor: default;
	display: flex;
	justify-content: center;
	position: absolute;
}

.painting {
	cursor: cell;
}

.locationName {
	max-height: 95%;
	pointer-events: none;
	position: absolute;
	width: 95%;
}

.locationName text {
	fill: var(--text);
	pointer-events: all;
	text-shadow: 2px 2px 2px var(--accent);
}

.dragging {
	cursor: grabbing;
	z-index: 100;
}

.droppable {
	border: 5px dashed var(--accent);
}

.notDroppable {
	border: 5px solid red;
}

.location.notDroppable::after {
	background: url('../../assets/images/strike.png') repeat;
	content: '';
	height: 100%;
	width: 100%;
	z-index: 1000;
}
