.myHomeEditor {
	background-color: var(--mainBG);
	bottom: 10px;
	display: flex;
	left: 10px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
}

.floorPlan {
	background: var(--mainBG);
	cursor: default;
	flex: 1;
}

.tools {
	background-color: var(--mainBG);
	border: 2px solid var(--accent);
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 10px;
	position: fixed;
	right: -2px;
	top: 120px;
	z-index: 99;
}

.tools > i {
	margin-bottom: 15px;
}

.tools > i:last-child {
	margin-bottom: 0;
}

.locationsEditMode {
	background: var(--mainBG) url('../../assets/images/grid.png');
	border: 1px solid var(--windowBG);
}

.addLocation {
	cursor: cell;
}
