.myHomeEditor {
	align-items: center;
	background-color: var(--mainBG);
	bottom: 10px;
	display: flex;
	justify-content: center;
	justify-items: center;
	left: 10px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 10px;
}

.editMode {
	border: 1px solid var(--windowBG);
}

.reactiveLayer {
	cursor: crosshair;
	flex: 1;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 40;
}

.areaSelector {
	background-color: var(--windowBG);
	position: absolute;
	z-index: 50;
}

.fullscreen {
	border: none;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.floorPlan {
	background: var(--mainBG);
	border: 1px solid var(--windowBG);
	box-sizing: border-box;
	cursor: grab;
	flex: 1;
	height: 100000px;
	min-height: 100000px;
	min-width: 100000px;
	position: relative;
	width: 100000px;
}

.grabbed {
	cursor: grabbing;
}

.tools {
	background-color: var(--mainBG);
	border: 2px solid var(--accent);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: 65px;
	min-width: 65px;
	padding: 10px;
	width: 65px;
	z-index: 99;
}

.tools > i {
	height: 35px;
	margin-bottom: 15px;
	max-height: 35px;
	min-height: 35px;
}

.tools > i:last-child {
	margin-bottom: 0;
}

.rightSideTools {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	position: fixed;
	right: -2px;
	top: 120px;
}

.sideTools {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	height: 250px;
	max-width: 75px;
	overflow: hidden;
	padding: 10px;
	position: fixed;
	transition: all 0.5s ease-in-out;
	width: 75px;
}

.sideTools:hover {
	max-width: 600px;
	overflow-y: auto;
	width: 600px;
}

.sideTools > img,
.sideTools > .addTile {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 2px;
	width: 50px;
}

.sideTools > img:hover,
.sideTools > .addTile:hover {
	border: 2px solid var(--text)
}

.paintFloors {
	right: 61px;
	top: 275px;
}

.placeFurniture {
	right: 61px;
	top: 375px;
}

.placeConstructions {
	background-color: var(--windowBG);
	right: 61px;
	top: 325px;
}

.placeConstructions:hover {
	max-width: 300px;
	width: 300px;
}

.selected {
	border: 2px solid var(--hover);
}

.locationsEditMode {
	background: var(--mainBG) url('../../assets/images/grid.png');
}

.addLocation {
	cursor: crosshair;
}

.ghost {
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	left: -100px;
	max-height: 50px;
	max-width: 50px;
	opacity: 0.75;
	pointer-events: none;
	position: absolute;
	top: -100px;
	width: 50px;
	z-index: 1000;
}

.compass {
	align-content: center;
	align-items: center;
	border: 2px solid var(--accent);
	border-radius: 9999999px;
	box-sizing: border-box;
	display: flex;
	--compass-height: 100px;
	justify-content: center;
	justify-items: center;
	left: 20px;
	min-height: var(--compass-height);
	position: absolute;
	top: 20px;
	--compass-width: 100px;
	width: var(--compass-width);
	z-index: 1001;
}

.cardinalPoint {
	align-content: center;
	align-items: center;
	display: flex;
	font-size: 20px;
	--cardinalPoint-height: 30px;
	height: var(--cardinalPoint-height);
	justify-content: center;
	justify-items: center;
	min-height: var(--cardinalPoint-height);
	min-width: var(--cardinalPoint-width);
	position: absolute;
	text-transform: capitalize;
	--cardinalPoint-width: 30px;
	width: var(--cardinalPoint-width);
}

.n {
	left: calc(var(--compass-width) / 2 - var(--cardinalPoint-width) / 2);
	top: calc(var(--cardinalPoint-height) / -2);
}

.e {
	right: calc(var(--cardinalPoint-width) / -2);
	top: calc(var(--compass-height) / 2 - var(--cardinalPoint-height) / 2);
}

.s {
	bottom: calc(var(--cardinalPoint-height) / -2);
	left: calc(var(--compass-width) / 2 - var(--cardinalPoint-width) / 2);
}

.w {
	left: calc(var(--cardinalPoint-width) / -2);
	top: calc(var(--compass-height) / 2 - var(--cardinalPoint-height) / 2);
}

#centerPointer {
	font-size: 34px !important;
	max-height: 34px;
	max-width: 34px;
	width: 34px;
}

#center {
	background-color: rgba(0, 0, 0, 0);
	height: 1px;
	left: 50000px;
	margin: 0 auto;
	min-height: 1px;
	min-width: 1px;
	pointer-events: none;
	position: absolute;
	top: 50000px;
	width: 1px;
	z-index: 1001;
}
