nav {
	background-color: var(--mainBG);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-right: 2px;
	padding: 0 2px 2px 2px;
	width: 150px;
	z-index: 4999;
}

nav.collapsed {
	display: none;
}

button {
	box-sizing: border-box;
	height: 46px;
	margin: 2px 0 0;
	max-height: 46px;
	max-width: 100%;
	min-height: 46px;
	min-width: 100%;
	overflow: hidden;
	padding-left: 15px;
	text-align: left;
	white-space: nowrap;
	width: 100%;
}

.lastItem {
	bottom: 2px;
	left: 2px;
	margin-top: auto;
	position: fixed;
	width: 146px;
}

nav.minimized {
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: var(--minSidebarWidth);
}

button.minimized {
	align-items: center;
	display: flex;
	font-size: 1.5em;
	height: 46px;
	justify-content: center;
	max-height: 46px;
	max-width: var(--minNormalWidth);
	min-height: 46px;
	min-width: var(--minNormalWidth);
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.retract {
	animation-duration: 0.25s;
	animation-fill-mode: backwards;
	animation-name: changeSize;
	animation-timing-function: ease;
}

.extend {
	animation-direction: reverse;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-name: changeSize;
	animation-timing-function: ease;
}

.fullSize {
	max-width: var(--minFullWidth) !important;
	min-width: var(--minFullWidth) !important;
	width: var(--minFullWidth) !important;
}

@keyframes changeSize {
	from {
		width: 150px;
	}
	to {
		width: var(--minSidebarWidth);
	}
}
