.v-overlay-main {
	background: var(--windowBG);
	border-radius: 0;
	min-width: 45%;
	max-width: 45%;
	min-height: 50%;
	max-height: 75%;
	overflow: auto;
	overflow-x: hidden;
	color: var(--text);
}

.v-overlay-header {
	color: var(--text);
	font-size: 1.25em;
	height: 2em;
}
