.skill {
	background-color: var(--windowBG);
	display: flex;
	flex-direction: column;
	height: 150px;
	margin: 15px 0 0 15px;
	overflow: hidden;
	position: relative;
	transition: var(--shortAnimation);
	width: 300px;
}

.skill:hover {
	transform: var(--lightLift);
}

.skillTitle {
	align-content: center;
	align-items: center;
	background-color: var(--secondary);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 25px;
	text-transform: uppercase;
	width: 100%;
}

.skillName {
	flex: 1;
	margin-left: 5px;
	overflow: hidden;
	width: 250px;
}

.skillIcon {
	margin-right: 5px;
	text-align: right;
	width: 2em;
}

.skillStatusAround {
	border-right: 62px solid var(--mainBG);
	border-top: 62px solid transparent;
	bottom: 1px;
	position: absolute;
	right: 1px;
}

.skillStatus {
	border-right: 60px solid transparent;
	border-top: 60px solid var(--windowBG);
	bottom: 3px;
	position: absolute;
	right: 3px;
}

.skillBody {
	box-sizing: border-box;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 5px;
}

.skillActions {
	bottom: 10px;
	display: flex;
	flex: 1;
	flex-direction: row;
	font-size: 2em;
	position: absolute;
	width: 200px;
}

.skillActions > i {
	margin-right: 15px;
}

.active {
	background-color: green;
}

.disabled {
	background-color: yellow;
}

.dead {
	background-color: red;
}

li {
	font-size: 1.25em;
	margin-bottom: 20px;
}
