.syslogContainer {
	display: flex;
	flex-flow: column;
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.terminal {
	font-family: var(--monospace);
	display: flex;
	flex-flow: column;
	margin: 15px;
	flex: 1;
	background-color: var(--accent);
	border: 2px solid var(--windowBG);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	overflow-y: auto;
	-moz-user-select: text;
	-ms-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

.terminalInput {
	margin: 15px;
}

.terminalInput form input {
	width: 50em;
	border: 2px solid var(--windowBG);
	margin-right: 15px;
}

.log {
	display: inline-block;
}

.logLine {
	display: flex;
	font-size: 1em;
}

.logTime {
	width: 9em;
}

.logComponent {
	width: 15em;
}

.logINFO {
	color: var(--text);
}

.logWARNING {
	color: orange;
}

.logDEBUG {
	color: #00C0FF;
}

.logERROR {
	color: red;
}

.logCRITICAL {
	color: red;
	font-weight: bold;
}

.logBlue {
	color: #00C0FF;
}

.logGrey {
	color: grey;
}

.logOrange {
	color: orange;
}

.logDefault {
	color: var(--text);
}

.logBold {
	font-weight: bolder;
}

.logDim {
	color: var(--windowBG);
}

.logItalic {
	font-style: italic;
}

.logUnderlined {
	text-decoration: underline;
}

.logSpacer {
	display: inline-block;
	min-width: 50px;
	width: 30px;
}
