.tabs {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: row;
	min-height: 50px;
	max-height: 50px;
	box-sizing: border-box;
	border-bottom: 2px solid var(--accent);
	margin: 5px 10px 0 0;
	padding-left: 15px;
}

.tabs.magicMirrorMode {
	display: none;
}

.tab {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	width: 70px;
	max-height: 50px;
	box-sizing: border-box;
	border-top: 2px solid var(--accent);
	border-right: 2px solid var(--accent);
	border-bottom: none;
	font-size: 2em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	top: 2px;
}

.tab:nth-child(1) {
	border-left: 2px solid var(--accent);
}

.tab.active {
	background-color: var(--mainBG);
}

.tab_page {
	position: relative;
	display: flex;
	flex: 1 1 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-flow: column;
	padding: 5px;
}

.tab_page.magicMirrorMode {
	background-color: black !important;
}
