.v-overlay-main {
	background: var(--windowBG) !important;
	border-radius: 0 !important;
	color: var(--text) !important;
	max-height: 75% !important;
	max-width: 45% !important;
	min-height: 50% !important;
	min-width: 45% !important;
	overflow: auto !important;
	overflow-x: hidden !important;
}

.v-overlay-header {
	color: var(--text) !important;
	font-size: 1.25em !important;
	height: 2em !important;
}
