.tooltip {
	display: block !important;
	z-index: 10000;
}

.tooltip .tooltip-inner {
	background: var(--accent);
	border-radius: 16px;
	color: var(--text);
	padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
	border-color: var(--accent);
	border-style: solid;
	height: 0;
	margin: 5px;
	position: absolute;
	width: 0;
	z-index: 1;
}

.tooltip[x-placement^="top"] {
	margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-width: 5px 5px 0 5px;
	bottom: -5px;
	left: calc(50% - 5px);
	margin-bottom: 0;
	margin-top: 0;
}

.tooltip[x-placement^="bottom"] {
	margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	border-width: 0 5px 5px 5px;
	left: calc(50% - 5px);
	margin-bottom: 0;
	margin-top: 0;
	top: -5px;
}

.tooltip[x-placement^="right"] {
	margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
	border-width: 5px 5px 5px 0;
	left: -5px;
	margin-left: 0;
	margin-right: 0;
	top: calc(50% - 5px);
}

.tooltip[x-placement^="left"] {
	margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	border-width: 5px 0 5px 5px;
	margin-left: 0;
	margin-right: 0;
	right: -5px;
	top: calc(50% - 5px);
}

.tooltip.popover .popover-inner {
	background: var(--windowBG);
	border-radius: 5px;
	box-shadow: 0 5px 30px rgba(var(--accent), .1);
	color: var(--accent);
	padding: 24px;
}

.tooltip.popover .popover-arrow {
	border-color: var(--windowBG);
}

.tooltip[aria-hidden='true'] {
	opacity: 0;
	transition: opacity .15s, visibility .15s;
	visibility: hidden;
}

.tooltip[aria-hidden='false'] {
	opacity: 1;
	transition: opacity .15s;
	visibility: visible;
}
