.dg-main-content {
	background-color: var(--windowBG);
	border-radius: 0;
	max-height: 90%;
	overflow-y: auto;
}

.dg-btn {
	border-radius: 0;
}

.dg-container {
	align-content: center;
//align-items: center;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.dg-btn--cancel {
	color: var(--text);
	background-color: var(--mainBG);
}

.dg-btn--ok {
	color: var(--text);
	background-color: var(--mainBG);
	border: none;
}

.dg-form {
	background-color: var(--secondary);
	padding: 10px;
	margin-bottom: -15px;
	color: var(--text);
	border-radius: 0;
}

.dg-container--has-input .dg-form {
	border-radius: 0;
}

.dg-container--has-input .dg-content-footer {
	background-color: var(--secondary);
	border: 1px solid var(--text);
	border-top: none;
	border-radius: 0;
}

.dg-container .dg-highlight-1 {
	color: #FF8C00;
	font-weight: bold;
	border-bottom: 1px solid #2ba5ff;
	border-radius: 0;
}

.dg-container .dg-highlight-2 {
	color: #2ba5ff;
	font-weight: bold;
	border-bottom: 1px solid #FF8C00;
	border-radius: 0;
}

.dg-backdrop {
	opacity: 0.75;
}

.dg-content-cont--floating {
	position: unset;
	top: unset;
	transform: unset;
}
