.v-step {
	border-radius: 0 !important;
	z-index: 99999 !important;
}

.v-step,
.v-step__header {
	background-color: var(--windowBG) !important;
	color: var(--text) !important;
}

.v-step__header {
	font-size: 1.5em !important;
}

.v-step__button {
	background-color: var(--secondary) !important;
	border: none !important;
	color: var(--text) !important;
	font: 1em var(--normal) !important;
	height: 2em !important;
	margin: 2px !important;
	min-width: 100px;
}

.v-step__buttons {
	border-top: 1px var(--text) solid !important;
	box-sizing: border-box !important;
	padding-top: 10px !important;
}

.v-step__button:hover {
	background-color: var(--accent) !important;
}
