/* ========================== VARIABLES ========================== */
/* Not used in for example in .console*/
:root {
	/* COLOR */
	--accent: black;
	--hover: yellow;
	--long: 'neogreyregular', Arial, sans-serif;
	--mainBG: #1e1e1e;
	--readable: 'Roboto', Arial, sans-serif;
	--secondary: #343434;
	/* TEXT */
	--short: 'marskeregular', Arial, sans-serif;
	--text: #d1d1d1;
	--windowBG: #636363;
}

/* ============================ FONTS ============================ */
@font-face {
	font-family: 'marskeregular';
	font-weight: normal;
	font-style: normal;
	src: url('./assets/webfonts/marske-webfont.woff2') format('woff2'), url('./assets/webfonts/marske-webfont.woff') format('woff');
}

@font-face {
	font-family: 'neogreyregular';
	font-weight: normal;
	font-style: normal;
	src: url('./assets/webfonts/neogreyregular-webfont.woff2') format('woff2'), url('./assets/webfonts/neogreyregular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src: url('./assets/webfonts/Roboto-Regular.eot');
	src: url('./assets/webfonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('./assets/webfonts/Roboto-Regular.woff2') format('woff2'), url('./assets/webfonts/Roboto-Regular.woff') format('woff'), url('./assets/webfonts/Roboto-Regular.ttf') format('truetype'), url('./assets/webfonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

/* ========================= BUILT IN TAGS ======================== */
html, body {
	background-color: var(--accent);
	color: var(--text);
	font-family: var(--short);
	height: 100%;
	margin: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
	/*noinspection CssUnknownProperty*/
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	align-items: center;
	background-color: var(--mainBG);
	flex-grow: 0;
	flex-shrink: 0;
	height: 3em;
	margin-bottom: 2px;
	width: 100%;
}

#main {
	background-color: var(--accent);
	display: flex;
	flex: 1;
	flex-direction: row;
}

nav {
	background-color: var(--mainBG);
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 2px;
	padding: 0;
	width: 10em;
}

#mainSection {
	background-color: var(--mainBG);
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

a:link, a:visited, a:active {
	color: var(--text);
	text-decoration: none;
}

a:hover {
	color: var(--hover);
}

input, select, textarea {
	background-color: var(--mainBG);
	border: 1px dotted #636363;
	box-sizing: content-box;
	color: var(--text);
	margin-left: 20px;
	margin-right: 20px;
	outline: none;
	padding: 5px;
	width: auto;
}

input:hover, textarea:hover {
	border: dotted 1px;
}

input[type='text'], input[type='password'], input[type='number'], select, textarea {
	width: auto;
}

textarea {
	min-height: 200px;
}

input:focus, textarea:focus {
	border: var(--hover) dotted 1px;
}

/* ======================= COLOR MARKINGS ======================== */
.red, .disabled, .warning, .saveFailed, .logError, .logRed {
	color: red;
}

.green, .saved, .logGreen {
	color: green;
}

.yellow, .active, .saving, .logYellow {
	color: yellow;
}


/* ========================== NAVIGATION ========================= */
.button {
	align-items: center;
	background-color: var(--secondary);
	border: none;
	box-sizing: content-box;
	color: var(--text);
	display: flex;
	flex-basis: 0;
	flex-grow: 0;
	font-family: var(--short);
	font-size: 1.5em;
	height: 5em;
	justify-content: center;
	margin: .1em;
	overflow: hidden;
	text-align: center;
}

button {
	background-color: var(--secondary);
	border: none;
	box-sizing: content-box;
	color: var(--text);
	font-family: var(--short);
	font-size: 1.5em;
	height: 2.5em;
	margin: .1em;
	text-align: center;
}

button:hover {
	background-color: var(--mainBG);
	color: var(--hover);
	cursor: pointer;
}
