/* ========================== VARIABLES ========================== */
:root {
	/* COLOR */
	--accent: black;
	--hover: yellow;
	--mainBG: #1e1e1e;
	--secondary: #343434;
	--text: #d1d1d1;
	--windowBG: #636363;

	/* FONTS */
	--normal: 'Orkney', Arial, sans-serif;
	--light: 'OrkneyLight', Arial, sans-serif;
	--medium: 'OrkneyMedium', Arial, sans-serif;
	--bold: 'OrkneyBold', Arial, sans-serif;

	--italic: 'OrkneyItalic', Arial, sans-serif;
	--lightItalic: 'OrkneyLightItalic', Arial, sans-serif;
	--mediumItalic: 'OrkneyMediumItalic', Arial, sans-serif;
	--boldItalic: 'OrkneyBoldItalic', Arial, sans-serif;

	--monospace: 'Courier New', monospace;

	/* ANIMATION */
	--shortAnimation: all .15s ease-in-out;
	--lightLift: translate3d(-2px, -2px, 0px);
}

/* ============================ FONTS ============================ */
@font-face {
	font-family: 'OrkneyItalic';
	src: url('./assets/webfonts/orkney/Orkney-Italic.eot');
	src: url('./assets/webfonts/orkney/Orkney-Italic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Italic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Italic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Italic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Italic.svg#Orkney-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyMedium';
	src: url('./assets/webfonts/orkney/Orkney-Medium.eot');
	src: url('./assets/webfonts/orkney/Orkney-Medium.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Medium.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Medium.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Medium.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Medium.svg#Orkney-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyLight';
	src: url('./assets/webfonts/orkney/Orkney-Light.eot');
	src: url('./assets/webfonts/orkney/Orkney-Light.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Light.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Light.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Light.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Light.svg#Orkney-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyMediumItalic';
	src: url('./assets/webfonts/orkney/Orkney-MediumItalic.eot');
	src: url('./assets/webfonts/orkney/Orkney-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.svg#Orkney-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Orkney';
	src: url('./assets/webfonts/orkney/Orkney-Regular.eot');
	src: url('./assets/webfonts/orkney/Orkney-Regular.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Regular.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Regular.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Regular.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Regular.svg#Orkney-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyBold';
	src: url('./assets/webfonts/orkney/Orkney-Bold.eot');
	src: url('./assets/webfonts/orkney/Orkney-Bold.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Bold.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Bold.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Bold.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Bold.svg#Orkney-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyLightItalic';
	src: url('./assets/webfonts/orkney/Orkney-LightItalic.eot');
	src: url('./assets/webfonts/orkney/Orkney-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.svg#Orkney-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyBoldItalic';
	src: url('./assets/webfonts/orkney/Orkney-BoldItalic.eot');
	src: url('./assets/webfonts/orkney/Orkney-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.svg#Orkney-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/* ========================= BUILT IN TAGS ======================== */

::-webkit-scrollbar {
	width: 1em;
	background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
}

html, body {
	background-color: var(--accent);
	color: var(--text);
	font-family: var(--normal);
	margin: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
	/*noinspection CssUnknownProperty*/
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	flex: 1;
}

.mainContainer {
	display: flex;
	flex-flow: column;
	flex: 1;
	align-items: stretch;
	overflow: hidden;
}

header {
	display: flex;
	align-items: center;
	background-color: var(--mainBG);
	height: 3em;
	margin-bottom: 2px;
	width: 100%;
	overflow: hidden;
	z-index: 4999;
}

#main {
	display: flex;
	flex-flow: row;
	flex: 1;
	position: relative;
	overflow: hidden;
}

#mainSection {
	background-color: var(--mainBG);
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding-bottom: 15px;
}

.flexrow {
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.flexcolumn {
	flex-direction: column;
	align-content: flex-start;
}

.yscroll {
	overflow-y: auto;
}

.clickable {
	cursor: pointer;
	text-shadow: 0 0 3px var(--accent);
}

.clickable:hover {
	color: var(--hover);
}

a:link, a:visited, a:active {
	color: var(--text);
	text-decoration: none;
}

a:hover {
	color: var(--hover);
}

input, select, textarea {
	background-color: var(--mainBG);
	border: 1px dotted #636363;
	box-sizing: content-box;
	color: var(--text);
	outline: none;
	padding: 5px;
	width: auto;
	min-width: 200px;
	height: 2em;
}

input:hover, textarea:hover {
	border: dotted 1px;
}

input[type='color'] {
	width: 50px;
	padding: 1px;
	height: 2.5em;
	cursor: pointer;
}

textarea {
	min-height: 200px;
	min-width: 450px;
}

input:focus, textarea:focus {
	border: var(--hover) dotted 1px;
}

/* ======================= COLOR MARKINGS ======================== */
.red, .disabled, .warning, .saveFailed, .logError, .logRed {
	color: red;
}

.green, .saved, .logGreen {
	color: green;
}

.yellow, .active, .saving, .logYellow {
	color: yellow;
}

.black {
	color: black;
}


/* ========================== NAVIGATION ========================= */
button {
	background-color: var(--secondary);
	border: none;
	box-sizing: content-box;
	color: var(--text);
	font: 1em var(--normal);
	height: 3em;
	margin: 2px;
	text-align: center;
	outline: none;
	text-transform: uppercase;
	overflow: hidden;
	border-radius: unset;
	min-width: 100px;
	padding: 0;
	cursor: pointer;
}

button:hover {
	background-color: var(--accent);
	color: var(--hover);
}

button:active {
	background-color: var(--mainBG);
}

button:active {
}

.initialHidden {
	display: none;
}

.centered {
	display: flex;
	flex: 1;
	justify-content: center;
	justify-items: center;
}

.vcentered {
	display: flex;
	flex: 1;
	align-content: center;
	align-items: center;
}

.vue-toggles {
	border: 1px solid var(--text);
}

.vue-toggles:focus {
	outline: none;
}

.fullpageForm {
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.fullpageForm > p {
	height: 3em;
	text-align: center;
}

.fullpageForm > p > label {
	display: block;
}

.size-15x {
	font-size: 1.5em;
}

.size-2x {
	font-size: 2em;
}

.size-25x {
	font-size: 2.5em;
}

.size-3x {
	font-size: 3em;
}

.size-35x {
	font-size: 3.5em;
}

.size-4x {
	font-size: 4em;
}

.collapsed {
	display: none;
}

.configLayout {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.configLayout > .labels {
	display: flex;
	flex-direction: column;
	margin-right: 1em;
}

.configLayout > .labels > .textAreaLabel {
	height: 250px;
	min-height: 250px;
	max-height: 250px;
}

.configLayout > .labels > label {
	height: 2.5em;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.configLayout > .inputs {
	flex: 1;
}

.longInputs input,
.longInputs select,
.longInputs textarea
{
	min-width: 500px;
}

.configLayout > .inputs > .input {
	min-height: 2.5em;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.configLayout > .inputs > .input > .inputRangeValue {
	min-width: 3em;
	width: 2em;
}

.configLayout > .inputs > .inputMultiline {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
}

.configLayout > .inputs > .inputMultiline > .line {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.configLayout > .inputs > .input > textarea {
	height: 250px;
	min-height: 250px;
	max-height: 250px;
	box-sizing: border-box;
}

.configLayout > .inputs > .input > .rangeInput {
	display: flex;
	align-items: center;
}

.inputError {
	border-color: red;
}

.inputValid {
	border-color: green;
}

.notifyContainer {
	top: 1% !important;
}

.noCursorEvents {
	pointer-events: none;
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(-2deg);
	}
	4% {
		transform: rotate(3deg);
	}
	6% {
		transform: rotate(-1deg);
	}
	8% {
		transform: rotate(4deg);
	}
	10% {
		transform: rotate(-2deg);
	}
	12% {
		transform: rotate(1deg);
	}
	14% {
		transform: rotate(-4deg);
	}
	16% { transform: rotate(1deg); }
	18% { transform: rotate(-3deg); }
	20% { transform: rotate(0deg); }
	100% { transform: rotate(0deg); }
}

@keyframes beat {
	0% { transform: scale(0.95); }
	10% { transform: scale(1.1); }
	20% { transform: scale(0.9); }
	30% { transform: scale(1.05); }
	40% { transform: scale(0.8); }
	50% { transform: scale(1.08); }
	60% { transform: scale(0.87); }
	70% { transform: scale(1.1); }
	80% { transform: scale(0.95); }
	90% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

@keyframes fade {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
