/* ========================== VARIABLES ========================== */
:root {
	/* COLOR */
	--accent: black;
	--bold: 'OrkneyBold', Arial, sans-serif;
	--boldItalic: 'OrkneyBoldItalic', Arial, sans-serif;
	--danger: #FF0000;
	--hover: yellow;
	--italic: 'OrkneyItalic', Arial, sans-serif;
	--light: 'OrkneyLight', Arial, sans-serif;

	/* FONTS */
	--lightItalic: 'OrkneyLightItalic', Arial, sans-serif;
	--lightLift: translate3d(-2px, -2px, 0px);
	--mainBG: #1e1e1e;
	--medium: 'OrkneyMedium', Arial, sans-serif;

	--mediumItalic: 'OrkneyMediumItalic', Arial, sans-serif;
	--minFullWidth: 46px;
	--minNormalWidth: 46px;
	--minSidebarWidth: 50px;

	--monospace: 'Courier New', monospace;

	/* ANIMATION */
	--normal: 'Orkney', Arial, sans-serif;
	--secondary: #343434;

	/* Nav settings */
	--shortAnimation: all .15s ease-in-out;
	--text: #d1d1d1;
	--windowBG: #636363;

}

@media only screen and (max-height: 627px) {
	:root {
		/* Nav settings small screen*/
		--minFullWidth: 96px;
		--minNormalWidth: 46px;
		--minSidebarWidth: 100px;
	}
}

@media only screen and (max-height: 387px) {
	:root {
		/* Nav settings small screen*/
		--minFullWidth: 146px;
		--minNormalWidth: 46px;
		--minSidebarWidth: 150px;
	}
}

@media only screen and (max-height: 291px) {
	:root {
		/* Nav settings small screen*/
		--minFullWidth: 196px;
		--minNormalWidth: 46px;
		--minSidebarWidth: 200px;
	}
}

/* ============================ FONTS ============================ */
@font-face {
	font-family: 'OrkneyItalic';
	src: url('./assets/webfonts/orkney/Orkney-Italic.eot');
	src: url('./assets/webfonts/orkney/Orkney-Italic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Italic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Italic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Italic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Italic.svg#Orkney-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyMedium';
	src: url('./assets/webfonts/orkney/Orkney-Medium.eot');
	src: url('./assets/webfonts/orkney/Orkney-Medium.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Medium.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Medium.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Medium.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Medium.svg#Orkney-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyLight';
	src: url('./assets/webfonts/orkney/Orkney-Light.eot');
	src: url('./assets/webfonts/orkney/Orkney-Light.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Light.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Light.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Light.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Light.svg#Orkney-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyMediumItalic';
	src: url('./assets/webfonts/orkney/Orkney-MediumItalic.eot');
	src: url('./assets/webfonts/orkney/Orkney-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-MediumItalic.svg#Orkney-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Orkney';
	src: url('./assets/webfonts/orkney/Orkney-Regular.eot');
	src: url('./assets/webfonts/orkney/Orkney-Regular.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Regular.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Regular.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Regular.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Regular.svg#Orkney-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyBold';
	src: url('./assets/webfonts/orkney/Orkney-Bold.eot');
	src: url('./assets/webfonts/orkney/Orkney-Bold.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-Bold.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-Bold.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-Bold.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-Bold.svg#Orkney-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyLightItalic';
	src: url('./assets/webfonts/orkney/Orkney-LightItalic.eot');
	src: url('./assets/webfonts/orkney/Orkney-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-LightItalic.svg#Orkney-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'OrkneyBoldItalic';
	src: url('./assets/webfonts/orkney/Orkney-BoldItalic.eot');
	src: url('./assets/webfonts/orkney/Orkney-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.woff2') format('woff2'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.woff') format('woff'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.ttf') format('truetype'),
	url('./assets/webfonts/orkney/Orkney-BoldItalic.svg#Orkney-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/* ========================= BUILT IN TAGS ======================== */

::-webkit-scrollbar {
	background-color: var(--accent);
	width: 1em;
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
}

html, body {
	background-color: var(--accent);
	color: var(--text);
	display: flex;
	flex: 1;
	font-family: var(--normal);
	margin: 0;
	/*noinspection CssUnknownProperty*/
	overflow: hidden;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.mainContainer {
	align-items: stretch;
	display: flex;
	flex: 1;
	flex-flow: column;
	overflow: hidden;
}

header {
	align-items: center;
	background-color: var(--mainBG);
	display: flex;
	height: 3em;
	margin-bottom: 2px;
	overflow: hidden;
	width: 100%;
	z-index: 4999;
}

#main {
	display: flex;
	flex: 1;
	flex-flow: row;
	overflow: hidden;
	position: relative;
}

#mainSection {
	background-color: var(--mainBG);
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container {
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.flexrow {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexcolumn {
	align-content: flex-start;
	flex-direction: column;
}

.yscroll {
	overflow-y: auto;
}

.clickable {
	cursor: pointer;
	text-shadow: 0 0 3px var(--accent);
}

.clickable:hover {
	color: var(--hover);
}

a, a:link, a:visited, a:active {
	color: var(--text);
	text-decoration: none;
	text-shadow: 0 0 .5em var(--hover);
}

a:hover {
	color: var(--hover);
}

input, select, textarea {
	background-color: var(--mainBG);
	border: 1px dotted #636363;
	box-sizing: border-box;
	color: var(--text);
	height: 3em;
	min-width: 200px;
	outline: none;
	padding: 5px;
	width: auto;
}

.likeInput {
	background-color: var(--mainBG);
	border: 1px dotted #636363;
	box-sizing: border-box;
	color: var(--text);
	height: 2.5em;
	min-width: 200px;
	outline: none;
	padding: .75em;
	text-align: center;
	width: auto;
}

input:hover, textarea:hover {
	border: dotted 1px;
}

input[type='color'] {
	cursor: pointer;
	height: 2.5em;
	padding: 1px;
	width: 50px;
}

textarea {
	min-height: 200px;
	min-width: 450px;
}

input:focus, textarea:focus {
	border: var(--hover) dotted 1px;
}

input:read-only:focus,
input:read-only {
	border: 1px dotted;
	color: var(--windowBG);
}

input:read-only[type=text] + span:after {
	color: var(--secondary);
	content: "\f023";
	display: inline-block;
	/*noinspection CssNoGenericFontName*/
	font-family: "Font Awesome 5 Free";
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	margin-left: -1.5em;
	text-rendering: auto;
}

/* ======================= COLOR MARKINGS ======================== */
.red, .disabled, .warning, .saveFailed, .logError, .logRed {
	color: red;
}

.green, .saved, .logGreen {
	color: green;
}

.yellow, .active, .saving, .logYellow {
	color: yellow;
}

.blue {
	color: #4444FF;
}

.black {
	color: black;
}


/* ========================== NAVIGATION ========================= */
button {
	background-color: var(--secondary);
	border: none;
	border-radius: unset;
	box-sizing: border-box;
	color: var(--text);
	cursor: pointer;
	font: 1em var(--normal);
	height: 3em;
	margin: 2px;
	min-width: 6.25rem;
	outline: none;
	overflow: hidden;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

button:hover {
	background-color: var(--accent);
	color: var(--hover);
}

button:hover.danger {
	background-color: var(--accent);
	color: var(--danger);
}

button:active {
	background-color: var(--mainBG);
}

button:active {
}

.initialHidden {
	display: none;
}

.centered {
	display: flex;
	flex: 1;
	justify-content: center;
	justify-items: center;
}

.vcentered {
	align-content: center;
	align-items: center;
	display: flex;
	flex: 1;
}

.flexHalf {
	flex-grow: 2;
	flex-shrink: 2;
	width: 50%;
}

.nowrap {
	flex-wrap: nowrap;
}

.contained {
	background: var(--windowBG);
	padding: 1em;
}

.vue-toggles {
	border: 1px solid var(--text);
}

.vue-toggles:focus {
	outline: none;
}

.fullpageForm {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
}

.fullpageForm > p {
	height: 3em;
	text-align: center;
}

.fullpageForm > p > label {
	display: block;
}

.size-15x {
	font-size: 1.5em;
}

.size-2x {
	font-size: 2em;
}

.size-25x {
	font-size: 2.5em;
}

.size-3x {
	font-size: 3em;
}

.size-35x {
	font-size: 3.5em;
}

.size-4x {
	font-size: 4em;
}

.collapsed {
	display: none;
}

.configLayout {
	box-sizing: border-box;
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 100%;
}

.configLayout > .labels {
	display: flex;
	flex-direction: column;
	margin-right: 1em;
}

.configLayout > .labels > .textAreaLabel {
	height: 250px;
	max-height: 250px;
	min-height: 250px;
}

.configLayout > .labels > label {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 2.5em;
	margin-bottom: 10px;
}

.configLayout > .inputs {
	flex: 1;
}

.longInputs input,
.longInputs select,
.longInputs textarea {
	min-width: 500px;
}

.configLayout > .inputs > .input {
	align-items: center;
	display: flex;
	margin-bottom: 10px;
	min-height: 2.5em;
}

.configLayout > .inputs > .input > .inputRangeValue {
	min-width: 3em;
	width: 2em;
}

.configLayout > .inputs > .inputMultiline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
	width: 100%;
}

.configLayout > .inputs > .inputMultiline > .line {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	width: 100%;
}

.configLayout > .inputs > .input > textarea {
	box-sizing: border-box;
	height: 250px;
	max-height: 250px;
	min-height: 250px;
}

.configLayout > .inputs > .input > .rangeInput {
	align-items: center;
	display: flex;
}

.inputError {
	border-color: red;
}

.inputErrorImp {
	border-color: red !important;
}

.inputValid {
	border-color: green;
}

.notifyContainer {
	top: 1% !important;
}

.noCursorEvents {
	pointer-events: none;
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(-2deg);
	}
	4% {
		transform: rotate(3deg);
	}
	6% {
		transform: rotate(-1deg);
	}
	8% {
		transform: rotate(4deg);
	}
	10% {
		transform: rotate(-2deg);
	}
	12% {
		transform: rotate(1deg);
	}
	14% {
		transform: rotate(-4deg);
	}
	16% {
		transform: rotate(1deg);
	}
	18% {
		transform: rotate(-3deg);
	}
	20% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes beat {
	0% {
		transform: scale(0.95);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.05);
	}
	40% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.08);
	}
	60% {
		transform: scale(0.87);
	}
	70% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.95);
	}
	90% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.dg-actions {
	margin-top: 1em;
}

.dg-actions button {
	padding: 0 1em 0 1em;
}

.spacedText {
	margin: 5em;
}

.vue-simple-markdown {
	white-space: normal !important;
}

.settingsContainer {
	bottom: 0;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	left: 0;
	overflow: hidden;
	right: 0;
	top: 0;
}
